@font-face {
  font-family: 'CMU Sans Serif';
  src: url('./cmu-sans-serif-500-roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Sans Serif';
  src: url('./cmu-sans-serif-500-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Sans Serif';
  src: url('./cmu-sans-serif-700-roman.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CMU Sans Serif';
  src: url('./cmu-sans-serif-700-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
